.header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    color:rgb(211, 185, 222);
}
body{
    background-image: url(tablebg2.jpg);
}
caption{
    text-align: center;
    color:rgb(118, 102, 151);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
table, th, td{
    border-collapse: collapse;
    color: white;
}
th, td{
    text-align: left;
    padding: 8px;
}
tr{
    background-color: rgb(88, 73, 118);
}
.firstrow{
    background-color: rgb(106, 91, 137);
}
.secondrow{
    background-color: rgb(123, 105, 159);
}
.thirdrow{
    background-color: rgb(133, 116, 167);
}